<html><body><p align="center" style="text-align: center; line-height: normal;">
                <b>
                    <u><span>NON-DISCLOSURE, NON &ndash;COMPETE, NON &ndash;SOLICITATION CUM <br/>TRAINING AGREEMENT</span></u>
                </b>
            </p>   
            <p>&nbsp;</p>
            <p>
                <span>
                    THIS AGREEMENT (hereinafter referred to as “the Agreement” for brevity) is executed at Ahmedabad on <b>{{date}}</b> and the agreement would be effective from <b>{{date_of_training_start}}</b>.
                </span>
            </p>

            <p><b>BETWEEN:</b></p>
            <br>

            <p align="center" style="text-align: center; line-height: normal;">
                <b><span>{{company}}</span></b>
            </p>

            <p align="center" style="text-align: center; line-height: normal;">
                <b><span>Through its Proprietor Mr. Purav Gandhi</span></b>
            </p>

            <p align="center" style="text-align: center; line-height: normal;"><span>of</span></p>

            <p align="center" style="text-align: center; line-height: normal;">
                <span>202, Parishram Complex, Nr. LG showroom,</span>
            </p>

            <p align="center" style="text-align: center; line-height: normal;">
                <span>Mithakhali Six Roads, Navrangpura Ahmedabad &ndash; 380009</span>
            </p>

            <p align="right" style="text-align: right; line-height: normal;">
                <b><span>(the 'Employer')</span></b>
            </p>

            <p align="right" style="text-align: right; line-height: normal;">
                <span>OF THE FIRST PART</span>
            </p>

            <p align="center" style="text-align: center; line-height: normal;">
                <span>- and -</span>
            </p>

            <p align="center" style="text-align: center; line-height: normal;">
                <span>&nbsp;</span>
            </p>

            <p align="center" style="text-align: center; line-height: normal;">
                <b><span>{{name}}</span></b>
                <span>
                    , aged <b>{{age}}</b>, having {% if pan_detail %}<b>PAN No</b>.<u><b>{{pan_detail}}</b></u> {% else %}<b>PAN No</b>.<b>__________</b>{% endif %} and {% if aadhar_detail %}<b>AADHAR</b> <b>No</b>.<u><b>{{aadhar_detail}}</b></u>{% else %}<b>AADHAR</b> <b>No</b>.<b>_________</b>{% endif %} and residing <b>{{address}}</b>
                </span>
            </p>

            <p><span>&nbsp;</span></p>

            <p align="right" style="text-align: right; line-height: normal;">
                <b><span>(the &apos;Employee&apos;)</span></b>
            </p>

            <p align="right" style="text-align: right; line-height: normal;">
                <span>OF THE SECOND PART</span>
            </p>

            <p>&nbsp;</p>
            <p>&nbsp;</p>

            <p style="text-align:justify;line-height: normal;">
                <b>
                    1.&nbsp;&nbsp;&nbsp;&nbsp;<b><u><span>DEFINITION</span></u></b>
                </b><br/>
                <span style="text-align: justify; line-height: normal;">
                    The term “Employer” refers to Aspire Software Solutions and/or it&apos;s group of companies/firms or affiliates including but not limited to Aspire Softserv Private Limited, Rocks Techlabs Pvt. Ltd, Aspire Techlabs.
                </span><br/><br/>
                <span style="text-align: justify; line-height: normal;">
                    The term “Employee” refers to candidate who is associate directly or indirectly with the employer and it could be permanent employee &ndash; part time or full time, on probation, on contract basis, trainee, advisor or
                    otherwise.
                </span>
            </p>
            <p>&nbsp;</p>

            <p style="text-align: justify; line-height: normal;">
                <b>
                    2.&nbsp;&nbsp;&nbsp;&nbsp;<b><u><span>BACKGROUND</span></u></b>
                </b><br/>
                <span>The Employee, who is currently an employee of the Employer, </span>
            </p>
            <ol type="A" style="text-align: justify; line-height: normal;">
                <li style="text-align: justify; line-height: normal;"><span>
                    May be required to handle confidential and proprietary information and highly confidential Data relating to the Employer&apos;s present and/or past and/or future and / or anticipated operations, creations, developments, or
                    research (the “Confidential Information‟) to fulfil employment-related responsibilities, obligations, or duties (the “Permitted Application‟) during the duration of employment (the “Employment‟).
                    </span><br/><br/>
                    <span>
                        IN CONSIDERATION OF and as a condition of the Employment as the Employer is disclosing the Confidential Information to the Employee, the receipt and sufficiency of which consideration is hereby acknowledged, both the
                        parties agree that the terms and conditions of this Agreement shall be as follows.
                    </span>
                </li><br/>
                <li style="text-align: justify; line-height: normal;"><span>
                    Is initially imparted extensive training for a period of <b>{{training_period}} months</b> for effectively carrying out the official work and responsibilities assigned to the Employee. The employer will incur phenomenal cost for
                    training the employee.
                </span>
                </li>
            </ol>

            <p>&nbsp;</p>

            <p style="text-align: justify; line-height: normal;">
                <b>
                    3.&nbsp;&nbsp;&nbsp;&nbsp;<b><u><span>TRAINING FEES INDEMNIFICATION</span></u></b>
                </b>
            </p>

            <ol type="A" style="text-align: justify; line-height: normal;">
                <li style="text-align: justify; line-height: normal;"><span>
                    Employer has selected the employee for the position of <b>Trainee Engineer</b> which would initially involve extensive training for a period of Six months for imparting the required level of skills, for effectively
                    carrying out the official responsibilities assigned to the Employee. The starting date of training is <b>{{date_of_training_start}}</b>. Employer has the right to increase or decrease the training period without
                    assigning any reason.
                    </span>
                </li><br/>
                <li style="text-align: justify; line-height: normal;"><span>
                    The Employee acknowledges that substantial costs have been invested for training them specifically to effectively carry out their job responsibilities and any discontinuance of the employment before the expiry of the <b>{{training_period}} </b> months would unfairly prejudice the Employer. Hence the Employee, on joining the Employer, undertakes to stay in employment of the Employer for a minimum period of <b>24 (Twenty-Four)</b> months (after the
                    successful completion of the training period &amp; excluding the notice period in case he wants to leave the Employer), inconsideration of which the Employer is not charging the cost of training.
                </span>
                </li><br/>
                <li style="text-align: justify; line-height: normal;"><span>
                    In case the Employee, for any reason, leaves the services of the Employer or is discharged due to any disciplinary action against him during the training period (including extended training period) or within
                    <b>24 (Twenty-Four)</b> months of employment after training, then employee shall forth with pay a sum of Rs. 75,000/- (Rupees Seventy-Five Thousand only) being the indemnification of the cost of training to the Employer.
                    The Employee undertakes not to dispute the amount, and shall pay the amount, before requesting for formal relieving order from the Employer &amp; at the same time Employer has full right to initiate appropriate legal
                    proceeding against the Employee.
                    </span>
                </li>
            </ol>
            <p>&nbsp;</p>

            <p style="text-align: justify; line-height: normal;">
                <b>
                    4.&nbsp;&nbsp;&nbsp;&nbsp;<b><u><span>CONFIDENTIAL INFORMATION</span></u></b>
                </b><br/>
                <span>
                    The Employee recognizes that during the course of his Employment, the Employee may have access to information that the Employer wishes to keep confidential. Both parties acknowledge that this information is the exclusive
                    property of the Employer, and includes, but not limited to:
                </span>
                <ol type="1" style="text-align: justify; line-height: normal;">
                    <li style="text-align: justify; line-height: normal;"><b><span>'Confidential Information' </span></b>
                        <span>
                            refers to all data and information relating to the Employer's business or enterprises, including proprietary information, trade secret technology, and accounting or other records which the Employee has access to. This
                            includes, but is not limited to: Work Product, Computer Software, Business Operations, Marketing and Development Operations, Proprietary Data, Customer Information and any information provided by the Customer.
                            Confidential Information also extends to include but not limited to any information that has been disclosed to the Employer by a third party and governed by this agreement.
                        </span>
                    </li><br/>
                    <li style="text-align: justify; line-height: normal;"><b><span>'Work Product' </span></b>
                        <span>
                            refers to any products, ideas, or information resulting from or related to present or future work projects or duties performed by the Employee for the Employer or the Employer’s clients.
                        </span>
                    </li><br/>
                    <li style="text-align: justify; line-height: normal;"><b><span>'Computer Software' </span></b>
                        <span>
                            refers to computer programs that are developed for, resulting from, or related to, work or projects that have been, or will be performed for the Employer or for the Employer&apos;s clients. Such computer programs include
                            programs of any type that are in any stage of actual or anticipated research, development, or production. These may include, but are not limited to: Business Ideas, Algorithms, Business Requirement Document, System
                            Requirement Specification, Technical &amp; UI Design, Source Code, Plugins, Modules, Test Plan, Test Results.
                        </span>
                    </li><br/>
                    <li style="text-align: justify; line-height: normal;"><b><span>'Proprietary Data' </span></b>
                        <span>
                            refers to publicly undisclosed information relating to proprietary rights possessed by Employer or their customer including but not limited to: technical, manufacturing, engineering or production data, test results and
                            statistics, progress or development reports of various products or services, any communication (including but not limited to Emails, Call Recordings, Video Recordings, Chats both internal &amp; external) and information
                            regarding the procurement, protection, control, and licensing of proprietary rights (including but not limited to patents, patent applications, copyrights, trade secrets and trademarks).
                        </span>
                    </li><br/>
                    <li style="text-align: justify; line-height: normal;"><b><span>'Business Operations' </span></b>
                        <span>
                            refers to internal financial (such as information about costs, profits, markets, sales, customers, suppliers, the Parties' contractual dealings with each other and the projects that are the subject-matter thereof),
                            employment (such as employee Information, salary, contract or any other such information) , and personnel records, client and vendor names, information, agreements, and services, business literature and operating
                            manuals, and methods or means in which the Employer conducts its business.
                        </span>
                    </li><br/>
                    <li style="text-align: justify; line-height: normal;"><b><span>'Marketing and Development Operations' </span></b>
                        <span>
                            refers to marketing and development plans, pricing strategies and billing policies, quoting methods, techniques and methods for obtaining business, processes and procedures used to obtain forecasts and forecast
                            assumptions and volumes, and future plans and potential strategies put forth by the Employer which have been or are being speculated or discussed; and
                        </span>
                    </li><br/>
                    <li style="text-align: justify; line-height: normal;"><b><span>'Customer Information' </span></b>
                        <span>
                            means any information relating to the identification of customers and their representatives, data provided by customers and relations, contracts and their contents, customer service, quality and specifications of
                            products and services purchased, leased, licensed or received by clients of the Employer.
                        </span>
                    </li>
                </ol>
            </p>

            
            <p>&nbsp;</p>

            <p style="text-align: justify; line-height: normal;">
                <b>
                    5.&nbsp;&nbsp;&nbsp;&nbsp;<b><u><span>OBLIGATIONS OF NON-DISCLOSURE</span></u></b>
                </b><br/>
                <span>
                    The Employee recognizes the need to keep all Confidential Information absolutely confidential, and make no disclosure of the information to the public, as a material term of this Agreement. The Employee agrees not to
                    disclose, report, or use, for any purpose, any of the Confidential Information disclosed to the Employee by the Employer as a result of the Employee's Employment, or which the Employee has otherwise obtained or accessed.
                </span><br/><br/>
                <span>
                    If there is any uncertainty about disclosure of Confidential Information, the Employee agrees to seek out senior management of the Employer prior to making any disclosure of the Confidential Information that may be
                    covered by this Agreement.
                </span><br/><br/>
                <span>
                    The Employee agrees that the Confidential Information is to be considered proprietary to the Employer. Further, the Employee agrees to use the material only for the Permitted Application and not for any other purpose,
                    including any actions that could be detrimental to the Employer or the subsidiaries, affiliates, or partners thereof.
                </span><br/><br/>
                <span>
                    The Employee agrees not to remove the Confidential Information from its place of business, and to conceal the Confidential Information in a location separate from other records and documents. In addition, the Employee
                    agrees not to reproduce the information or store it on a computer or device that is accessible to persons to whom disclosure may not be made, as described in this Agreement.
                </span><br/><br/>
                <span>The Employee will be permitted to disclose any of the Confidential Information only in the following circumstances:</span>
            </p>
            
            <ol type="1" style="text-align: justify; line-height: normal;">
                <li style="text-align: justify; line-height: normal;"><span>
                    If it is required for the performance of the Permitted Application, the Employee may disclose the information to its affiliates, employees, advisors, or representatives, provided that:
                    </span><br/>
                    <ol type="A" style="text-align: justify; line-height: normal;">
                        <li style="text-align: justify; line-height: normal;"><span>These personnel are informed of the confidential nature of the Confidential Information;</span></li>
                        <li style="text-align: justify; line-height: normal;"><span>These personnel agree to be legally bound to the same burdens of non- disclosure and non-use as the Employee;</span></li>
                        <li style="text-align: justify; line-height: normal;"><span>The personnel are prevented by the Employee from violating this agreement, to as great an extent as the Employee can reasonably enforce; and</span></li>
                        <li style="text-align: justify; line-height: normal;"><span>The Employee agrees to be responsible for and indemnify the Employer for any breach of this Agreement by the personnel.</span></li>
                    </ol>
                </li><br/>
                <li style="text-align: justify; line-height: normal;">
                    <span>If the Employer has given written consent to the Employee for the disclosure of information to a third party; or</span>
                </li><br/>
                <li style="text-align: justify; line-height: normal;">
                    <span>
                        If the Employer is required to disclose such information by law or at the request of any governmental, administrative, legislative, or judicial body, provided that the Employee will first give prompt notice to the
                        Employer of any possible or prospective orders of disclosure and Employer has been afforded a reasonable opportunity to prevent or limit such disclosure.
                    </span>
                </li>
            </ol> 
            <p style="text-align: justify; line-height: normal;">
                <span>
                    All obligations regarding the prevention of disclosure of the Confidential Information, and any obligations to provide notice under this Agreement shall be effective for an indefinite period from the date of its
                    expiration or termination, as the case may be.
                </span>
            </p>   
            <p>&nbsp;</p>

            <p style="text-align: justify; line-height: normal;">
                <b>
                    6.&nbsp;&nbsp;&nbsp;&nbsp;<b><u><span>NON-COMPETITION</span></u></b>
                </b><br/>
                <span>
                    Notwithstanding any successfully completed negotiations or transactions, or employment with an independent third party, the Employee understands and agrees not to participate, directly or indirectly, in any activities
                    that are in direct competition with the activities of Employer or clients of the Employer without the express written consent of Employer. This condition shall hold at all times during the continuance of this Agreement
                    and within <b>5 years</b> of its termination from the Employment or severance from the Employer for any reason whatsoever, as the case may be.
                </span><br/><br/>
                <span>
                    The Employee understands and agrees that for a period of <b>5 years </b>from the date of termination from the Employment and severance for the Employer of this Agreement, the Employee will not divert or attempt to divert
                    from the Employer any business that the Employer has enjoyed or solicited from its customers prior to execution of this Agreement.
                </span>
            </p>

            <p>&nbsp;</p>

            <p style="text-align: justify; line-height: normal;">
                <b>
                    7.&nbsp;&nbsp;&nbsp;&nbsp;<b><u><span>NON-SOLICITATION</span></u></b>
                </b><br/>
                <span>
                    Employees after leaving or during employment of present employer will not solicit or approach or take clients of present employer and neither advise them to leave clientele of the employer or advise them to join or move
                    to 3rd party company or competitor or will not work with clients in any form of employment or contract or consulting.
                </span><br/><br/>
                <span>
                    By this agreement employee after leaving employer will not take any present client of employer for <b>5 years </b>and if employee joins other firm then he/she will not provide details or clients of employer or advice
                    other firm to approach clients of employer.
                </span><br/><br/>
                <span>
                    This will damage employer&apos;s business. This condition will be applicable all duration of the employment and for <b>5 years </b>from the date of leaving employment of present employer or date of termination of Employment.
                    In such case where client leaves employer then employee will pay damages equivalent to next <b>3 years&apos; </b>business from the client, which will be calculated as per last/current 1 year of revenue business given by
                    client that left employer.
                </span><br/><br/>
                <span>
                    In condition where client do not leave employer after advice of the employee then also it will be considered as breach of this agreement and employer will have right to remove the Employee from employment immediately.
                </span><br/><br/>
                <span>
                    It is also mutually understood that the Employer would suffer harm and damages if attempts were made by the Employee to induce other employees (consider employees or contractors) to leave the Employer / Employment, or if
                    the Employee were to interfere with the Employer&apos;s relationship with its other employees or contractors then in that eventuality the Employee agrees that during the term of his Employment with the Employer and for a
                    period of <b>5 years </b>after the end of such Employment, the Employee will not under any circumstances, directly or indirectly:
                </span>
            </p>

            <ol style="text-align: justify; line-height: normal;">
                <li style="text-align: justify; line-height: normal;">
                    <span>Encourage or attempt to encourage any employee or contractor of the Employer to quit employment or retainer with the Employer;</span>
                </li><br/>
                <li style="text-align: justify; line-height: normal;">
                    <span>Interfere with the Employer&apos;s relationship with its Employees or contractors in any way that could damage the Employer;</span>
                </li><br/>
                <li style="text-align: justify; line-height: normal;">
                    <span>Inform other Employees or contractors of the Employer of other competitive employment opportunities or positions; or</span>
                </li><br/>
                <li style="text-align: justify; line-height: normal;">
                    <span>Solicit, entice, or hire away any Employee or contractor of the Employer that was employed at any time during the Employee's term of Employment.</span>
                </li>
            </ol>

            <p>&nbsp;</p>
            
            <p style="text-align: justify; line-height: normal;">
                <b>
                    8.&nbsp;&nbsp;&nbsp;&nbsp;<b><u><span>AVOIDING CONFLICT OF OPPORTUNITIES</span></u></b>
                </b><br/>
                <span>
                    The Employee agrees to notify the Employer of all business opportunities relating to, or similar to, the Employer&apos;s current or prospective business opportunities. The Employee understands that, for the duration of
                    Employment, the Employee cannot pursue such opportunities in any way without the prior written consent of the Employer.
                </span><br/><br/>
                <span>Unless written consent is otherwise given by the Employer, the Employee further agrees to the following terms:</span>
            </p>

            <ol style="text-align: justify; line-height: normal;">
                <li style="text-align: justify; line-height: normal;">
                    <span>
                        The Employee shall not compete with the present or anticipated business of the Employer, including but not limited to planning or orchestrating any similar or related business activities, either solely or in
                        collaboration with others; and
                    </span>
                </li><br/>
                <li style="text-align: justify; line-height: normal;">
                    <span>
                        The Employee shall not compete with the present or anticipated business of the clients of the Employer, including but not limited to planning or orchestrating any similar or related business activities, either solely or
                        in collaboration with others; and
                    </span>
                </li><br/>
                <li style="text-align: justify; line-height: normal;">
                    <span>
                        The Employee shall not participate, either directly or indirectly, in any business activities that conflict with the interests of the Employer. Determination of such conflicting activities will rest exclusively upon the
                        discretion of the Employer.
                    </span>
                </li>
            </ol>

            <p>&nbsp;</p> 
            
            <p style="text-align: justify; line-height: normal;">
                <b>
                    9.&nbsp;&nbsp;&nbsp;&nbsp;<b><u><span>OWNERSHIP AND TITLE</span></u></b>
                </b><br/>
                <span>
                    The Employee shall NOT, under any circumstances, be granted any title, interest, right, or license in or to the Confidential Information or other intellectual property right of the Employer.
                </span><br/><br/>
                <span>
                    The Employee recognizes and agrees that the Employer retains all rights, titles, and interest in any Confidential Information at all times, and that such information is the property of the Employer alone. As such, the
                    Employee waives any (and all) interest in the Confidential Information, including but not limited to any interest in know-how, copyright, trademarks or trade names. This shall stand irrespective of any contributions the
                    Employee may have made to such materials or developments
                </span><br/><br/>
                <span>
                    The terms contained within this Agreement will not apply to any of the Employee's intellectual property, methods, designs, developments, creations, research, know-how, trade names, trademarks, and copyrights which:
                </span>
            </p>

            <ol style="text-align: justify; line-height: normal;">
                <li style="text-align: justify; line-height: normal;">
                    <span>Used no facilities, materials, Confidential Information or equipment of the Employer;</span>
                </li><br/>
                <li style="text-align: justify; line-height: normal;">
                    <span>The Employee created or developed entirely on his or her own time; and</span>
                </li><br/>
                <li style="text-align: justify; line-height: normal;">
                    <span>
                        Bears no relation or similarity to the business of the Employer, or the present or anticipated duties, creations, developments, or research, or resulting from any work performed by the Employee for the Employer.
                    </span>
                </li>
            </ol>

            <p style="text-align: justify; line-height: normal;">
                <span>
                    Any and all Confidential Information created or developed by the Employee, in whole or in part, during the term of Employment is recognized by the Employee as the property of the Employer. The Employee therefore agrees
                    to assign to the Employer any right, title, or interest the Employee may have in the Confidential Information, and further agrees to take all measures and to execute all instruments reasonably requested by the Employer
                    to more fully transfer ownership rights of the Confidential Information from the Employee to the Employer, in  the period both during and after the Employee's employment with the Employer.
                </span>
            </p>

            <p>&nbsp;</p> 

            <p style="text-align: justify; line-height: normal;">
                <b>
                    10.&nbsp;&nbsp;&nbsp;&nbsp;<b><u><span>PUBLICITY</span></u></b>
                </b><br/>
                <span>Notwithstanding any provisions in this Agreement to the contrary, the Employee agrees not to publicize its participation in this Agreement.</span>
            </p>

            <p>&nbsp;</p> 

            <p style="text-align: justify; line-height: normal;">
                <b>
                    11.&nbsp;&nbsp;&nbsp;&nbsp;<b><u><span>ASSIGNMENT</span></u></b>
                </b><br/>
                <span>
                    Notwithstanding name changes as a result of corporate mergers or takeovers, the Employee may not assign this Agreement or any interest herein without the prior written consent of Employer.
                </span>
            </p>

            <p>&nbsp;</p> 

            <p style="text-align: justify; line-height: normal;">
                <b>
                    12.&nbsp;&nbsp;&nbsp;&nbsp;<b><u><span>REMEDIES</span></u></b>
                </b><br/>
                <span>
                    The Employee understands the confidential and proprietary nature of any Confidential Information, and accepts that any disclosure of the Confidential Information to a third party would constitute a material breach of
                    this Agreement. The Employee further recognizes that any such disclosure would severely and irreversibly affect the Employer's business and goodwill, to an extent beyond repair by any degree of monetary compensation.
                </span><br/><br/>
                <span>
                    In accordance with this understanding, the Employer shall be entitled to, in addition to all other legal options or other remedies, the right to file an injunction restraining the Employee from directly or indirectly
                    violating the terms governing the use of the Confidential Information, as set forth in this Agreement.
                </span><br/><br/>
                <span>
                    Should the Employee violate the terms governing the use of the Confidential Information as set forth herein, all costs incurred by Employer in attempting to enforce this Agreement, including, but not limited to, any and
                    all legal costs, will be payable by the Employee.
                </span>
            </p>

            <p>&nbsp;</p> 

            <p style="text-align: justify; line-height: normal;">
                <b>
                    13.&nbsp;&nbsp;&nbsp;&nbsp;<b><u><span>RETURN OF CONFIDENTIAL INFORMATION</span></u></b>
                </b><br/>
                <span>
                    Upon termination or expiration of this Agreement, as the case may be, or upon request from the Employer, the Employee agrees to return to the Employer all documents, disks, computer media, or other material in the
                    Employee's possession or control that:
                </span>
            </p>

            <ol style="text-align: justify; line-height: normal;">
                <li style="text-align: justify; line-height: normal;">
                    <span>
                        May contain or be derived from proprietary or Confidential Information, as defined in this Agreement, including trade secrets, ideas, concepts, and developments; or
                    </span>
                </li><br/>
                <li style="text-align: justify; line-height: normal;">
                    <span>Is connected with or derived from the Employee's services to the Employer.</span>
                </li>
            </ol>

            <p>&nbsp;</p> 

            <p style="text-align: justify; line-height: normal;">
                <b>
                    14.&nbsp;&nbsp;&nbsp;&nbsp;<b><u><span>NOTICES</span></u></b>
                </b><br/>
                <span>
                    If any Confidential Information must be disclosed to a third party for the purposes of a civil, criminal, or regulatory proceeding, the Employee agrees to immediately notify the Employer so that the Employer can waive
                    the relevant provisions of this Agreement to accommodate the request, or seek a remedy to the situation.
                </span><br/><br/>
                <span>
                    If any Confidential Information is lost or disclosed to an unauthorized party, the Employee agrees to immediately notify the Employer and take all steps reasonably necessary to mitigate damages arising from the
                    situation.
                </span>
            </p>
            
            <p>&nbsp;</p>

            <p style="text-align: justify; line-height: normal;">
                <b>
                    15.&nbsp;&nbsp;&nbsp;&nbsp;<b><u><span>NATURE OF COMMUNICATIONS</span></u></b>
                </b><br/>
                <span>
                    The parties agree that any communications required or permitted by this Agreement be given in writing. Such communications shall be given by mail, electronic mail, facsimile or personal delivery to any of the parties to
                    this agreement. In the event of a change in correspondence address, change in telephone number or other contact information, the parties agree to notify the other of such change in a timely manner. For the purposes of
                    this clause, delivery of the notice shall be deemed to have occurred when the recipient or personal representative receives such notice, and mailing shall be deemed to have occurred at the time when such notice enters
                    into the mail system.
                </span><br/><br/>
                <span>The address for any notice to be delivered to any of the parties to this Agreement is as follows:</span>
            </p>

            <ol style="text-align: justify; line-height: normal;">
                <li style="text-align: justify; line-height: normal;">
                    <span>Aspire Software Solutions, 202, Parishram Complex, Nr. LG showroom, Mithakhali Six Roads, Navrangpura, Ahmedabad - 3800092. </span><br/>
                    <b><span> {{name}} ,{{address}}</span></b>
                </li>
            </ol>
            <br/>
            <p style="text-align: justify; line-height: normal;">
                <b>
                    16.&nbsp;&nbsp;&nbsp;&nbsp;<b><u><span>AMENDMENTS</span></u></b>
                </b><br/>
                <span>This Agreement may only be amended or modified by a written instrument executed by both parties.</span>
            </p>
            <br/>

            <p style="text-align: justify; line-height: normal;">
                <b>
                    17.&nbsp;&nbsp;&nbsp;&nbsp;<b><u><span>FURTHER AGREEMENTS</span></u></b>
                </b><br/>
                <span>
                    In the event that the Employee is interested in pursuing, developing, marketing, or patenting the Employer&apos;s Development, further Agreements may be negotiated between the parties.
                </span>
            </p>

            <br/>

            <p style="text-align: justify; line-height: normal;">
                <b>
                    18.&nbsp;&nbsp;&nbsp;&nbsp;<b><u><span>VALIDITY</span></u></b>
                </b><br/>
                <span>
                    This Agreement is valid for all the period of employment and will be applicable for mentioned duration for specific clauses and for other clauses <b>5 years </b>after employee leaves or gets terminated from employer’s
                    employment. This clause will be applicable to legal heirs and successors of employees.
                </span>
            </p>

            <br/>

            <p style="text-align: justify; line-height: normal;">
                <b>
                    19.&nbsp;&nbsp;&nbsp;&nbsp;<b><u><span>GOVERNING LAW</span></u></b>
                </b><br/>
                <span>
                    This Agreement is being delivered in, and shall be governed, construed, enforced, and interpreted by, though, and under, the laws applicable to the State of Gujarat, India, and Contract Act excluding conflict of law
                    principles that would cause the application of laws of another jurisdiction.
                </span>
            </p>

            <br/> 
            
            <p style="text-align: justify; line-height: normal;">
                <b>
                    20.&nbsp;&nbsp;&nbsp;&nbsp;<b><u><span>JURISDICTION</span></u></b>
                </b><br/>
                <span>
                    Any dispute arising out of or in connection with this contract, including any question regarding its existence, validity or termination, shall be referred to and finally resolved by the Court at Ahmedabad and the
                    Ahmedabad Court will have exclusive Jurisdiction to try any dispute arises between the parties to this agreement.
                </span>
            </p> 
            <br/>   
            <p style="text-align: justify; line-height: normal;">
                <b>
                    21.&nbsp;&nbsp;&nbsp;&nbsp;<b><u><span>BINDING EFFECT</span></u></b>
                </b><br/>
                <span>
                    The covenants and obligations set forth in this Agreement shall be binding on and inure to the benefit of the heirs, executors, successors, legal representatives, administrators, and assigns of the Employee.
                </span>
            </p>
            <p><span>&nbsp;</span></p>
            <p><span>&nbsp;</span></p>
            <p><span>&nbsp;</span></p>
            <p><span>&nbsp;</span></p>
            <p><span>&nbsp;</span></p>
            <p><span>&nbsp;</span></p>
            <p><span>&nbsp;</span></p>
            <p><span>&nbsp;</span></p>
            <p><span>&nbsp;</span></p>
            <p><span>&nbsp;</span></p>
            <p><span>&nbsp;</span></p>
            <p><span>&nbsp;</span></p>
            <p><span>&nbsp;</span></p>

            <p style="text-align: justify; line-height: normal;">
                <span>
                    IN WITNESS WHEREOF the parties have duly affixed their signatures on this <b>{{date}}</b>
                </span>
            </p>
            <p><span>&nbsp;</span></p>
            <table>
                <tr>
                    <td>
                        <p><span>__________________________</span></p>
                        <p><span>{{company}}</span></p>
                        <p><span>Mr. Purav Gandhi</span></p>
                        <p><span>Proprietor &amp; Karta</span></p>
                    </td>
                    <td>
                        <p><span>__________________________</span></p>
                        <p><span>{{name}}</span></p>
                        <p><span>Employee</span></p>
                    </td>
                </tr>
            </table>

            <p><span>&nbsp;</span></p>

            <p style="text-align: justify; line-height: normal;">
                <span>WITNESSES:</span>
            </p>
            <ol style="text-align: justify; line-height: normal;">
                <li style="text-align: justify; line-height: normal;">
                    <span>______________________</span>
                </li><br/><br/>
                <li style="text-align: justify; line-height: normal;">
                    <span>______________________</span>
                </li>
            </ol>

    </body>
</html>            